config system interface
    edit "{{ name }}"
        set vdom "root"
        set ip 192.{{ id_site }}.{{ id }}.1/24
        set interface "{{ interface }}"
        set vlanid {{ id }}
        set type vlan
        {% if allowaccess %}
        set allowaccess {{ allowaccess | join(' ') }}
        {% endif %}
    next
end
